* {
  box-sizing: border-box;
}



body {
  padding: 2.5% 10%;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 18px;
  background-image: url("movie.jpg");
  opacity: 0.9;
  font-weight: bold;
}

#container {
  margin-top: -35px;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: white;
  border-radius: 20px;
}

header {
  margin-bottom: 1em;
  text-align: center;
}

/* authors/index.hbs */

h1 a {
  border: 2px solid grey;
  border-radius: 10px;
  text-decoration: none;
  color: blue;
  font-size: 3em;
  font-weight: 700;
}




.reminder {
  margin: 1em 0 1em 2em;
  font-family: "Playfair Display", "Times New Roman", serif;
}

/* authors/show.hbs */

h2 {
  margin-top: 80px;
  margin-bottom: 1.5em;
  font-size: 1.3em;

}

h3 {
  margin-bottom: 1em;
  font-size: 1em;
  color: blue;
}


#new-movie {
  margin: 3em 0 1.5em 0;
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
}

#user-edit a {
  text-decoration: none;
}

#user-edit a:first-child {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color: grey;
  color: #ffffff;
  font-size: 1em;
  margin: 10px 80px 0px 200px;
}

#user-edit a:nth-child(2n) {
  color: blue;
  display: inline-block;
  background-color: grey;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1em;
  padding: 5px;
}

.users{
  margin-top: 20px;
}
table{
  width: 100%;
  border-collapse:  collapse;
  table-layout: fixed;
}
th{
  text-align: left;
  font-weight: normal;
}
td{
  border: #ccc 1px solid;
  padding: 10px;
  overflow: hidden;
}

#welcome {
  margin-top: 40px;
  margin-bottom: 20px;
}

#deleteact {
  margin-top: 25px;
}

#logout{
  float: right;
}




