{{#if user}}
    <div id="logout"><a href="/users/logout">Logout</a></div>
{{/if}}

<h2>Edit Your Account Info Below</h2>
<form action="/users/{{user._id}}?_method=put" method="post">
    <label>Change Password:</label>
    <input type="password" class="input" name='password'><input type="submit" class="button">
</form>

<div id="deleteact"><a href="/users/{{user._id}}/delete">Delete my account permanently</a></div><br>
<div id="back"><a href="/users">Go Back To Collections</a></div>
