<h2>Edit {{user.username}}</h2>
<form action="/users/{{user._id}}?_method=put" method="post">
    <label>Change User Name:</label>
    <input type="text" name="name" value="{{user.username}}"><input type="submit">
</form>

<div><a href="/users/{{user._id}}/delete">Delete my account</a></div>
<a href="/users">See All Collecitons</a>
